<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<li id="shipping" class="checkout-shipping-address" data-bind="fadeVisible: visible()">

    <!-- ko if:window.checkoutConfig.shipping_type == 'Pickup' -->
    <div class="step-title" translate="'Pickup Address'" data-role="title"></div>
    <!-- /ko -->

     <!-- ko ifnot:window.checkoutConfig.shipping_type == 'Pickup' -->
     <div class="step-title" translate="'Shipping Address'" data-role="title"></div>
     <!-- /ko -->

    <div id="checkout-step-shipping"
         class="step-content"
         data-role="content">

        <each if="!quoteIsVirtual" args="getRegion('customer-email')" render="" ></each>
        <each args="getRegion('address-list')" render="" ></each>
        <each args="getRegion('address-list-additional-addresses')" render="" ></each>

        <!-- Address form pop up -->
        <if args="!isFormInline">
            <div class="new-address-popup">
                <button type="button"
                        class="action action-show-popup"
                        click="showFormPopUp"
                        visible="!isNewAddressAdded()">
                    <span translate="'New Address'"></span>
                </button>
            </div>
            <div id="opc-new-shipping-address"
                 visible="isFormPopUpVisible()"
                 render="shippingFormTemplate"></div>
        </if>

        <each args="getRegion('before-form')" render="" ></each>

        <!-- Inline address form -->
        <render if="isFormInline" args="shippingFormTemplate"></render>
    </div>
</li>

<!-- ko if:window.checkoutConfig.shipping_type == 'Shipping' -->
<div>
    <!-- <input type="checkbox" name="shipping_method" id="residential" value="1" data-bind="event: {change: getResidentialChecked()}">Residential&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; -->
    <input type="checkbox" name="shipping_method" id="residential" value="1" data-bind="checked: getResidential">Residential&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
    <input type="checkbox" name="shipping_method" id="liftgate" value="1" data-bind="checked: getLiftgate">Liftgate&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
    <input type="checkbox" name="shipping_method" id="delivery" value="1" data-bind="checked: getDelivery">Delivery Appointment&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
</div>

<!-- /ko -->

<!--Shipping method template-->
<li id="opc-shipping_method"
    class="checkout-shipping-method"
    data-bind="fadeVisible: visible(), blockLoader: isLoading"
    role="presentation">
    <div class="checkout-shipping-method">

        <!-- ko if:window.checkoutConfig.shipping_type == 'Pickup' -->
        <div class="step-title" translate="'Pickup Methods'" data-role="title"></div>
        <!-- /ko -->

        <!-- ko ifnot:window.checkoutConfig.shipping_type == 'Pickup' -->
        <div class="step-title" translate="'Shipping Methods'" data-role="title"></div>
        <!-- /ko -->

        <each args="getRegion('before-shipping-method-form')" render="" ></each>

        <div id="checkout-step-shipping_method"
             class="step-content"
             data-role="content"
             role="tabpanel"
             aria-hidden="false">
            <form id="co-shipping-method-form"
                  class="form methods-shipping"
                  if="rates().length"
                  submit="setShippingInformation"
                  novalidate="novalidate">

                <render args="shippingMethodListTemplate"></render>

                <div id="onepage-checkout-shipping-method-additional-load">
                    <each args="getRegion('shippingAdditional')" render="" ></each>
                </div>
                <div role="alert"
                     if="errorValidationMessage().length"
                     class="message notice">
                    <span text="errorValidationMessage()"></span>
                </div>
                <select name="customOption" id="customOption" data-bind="value: 1, event: {change: getCustomChangeOption()}">
                    <option value="1">YES</option>
                    <option value="0">NO</option>
                </select>
                <br><br>
                <div class="actions-toolbar" id="shipping-method-buttons-container">
                    <div class="primary">
                        <button data-role="opc-continue" type="submit" class="button action continue primary">
                            <span translate="'Next'"></span>
                        </button>
                    </div>
                </div>
            </form>
            <div class="no-quotes-block"
                 ifnot="rates().length > 0"
                 translate="'Sorry, no quotes are available for this order at this time'"></div>
        </div>
    </div>
</li>
